@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 240 5.9% 90%;
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
